@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color: #2c6e49;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    /* background-color: var(--color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    font-family: "Kalnia Glaze", serif;
    width: 80%;
    margin: 30px auto;
    border: 2px solid #9a53a1;
    border-radius: 100px;
}

a {
    text-decoration: none;
}


.navlists {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    /* font-size: 25px; */
}

.logo {
    font-size: 40px;
}

.btn {
    background-color: #9a53a1;
    padding: 1rem 1.5rem;
    border-radius: 48px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.btn a {
    color: white;
}

.container {
    /* width: 100%; */
    height: auto;
    padding: 2rem 7.5rem;
    background: linear-gradient(349deg, #fbc7f054 0%, #ffffff 100%);
}

.box-container {
    display: flex;
    justify-content: center;
}

.box1 h1 {
    font-size: 50px;
    color: #9a53a1;
}

.box1 p {
    margin-top: 20px;
    font-size: 20px;
    color: #9a53a1;
    width: auto;
    height: auto;
}

.space {
    margin-top: 20px;
}

.box1 {
    width: 50%;
    height: auto;
}

.box2 {
    width: 50%;
    height: auto;
    /* background-image: url(./undraw_favourite_item_pcyo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}

.box2 img{
    width: 53%;
    height: auto;
}




.highlight-button {
    padding: 4px 16px;
    background-color: #f9f6ff;
    border-radius: 100px;
    border: 1px solid darkorchid;
    outline: none;
    letter-spacing: 0px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0.5rem;
}

.list-box {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.3rem;
    padding-left: 0.8rem;
    margin-bottom: 0.6rem;
    border-left: 1px solid #9a53a1;
}


#reduceText{
    font-size: 18px;
    margin-top: 10%;
}

.card-container{
    height: auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    padding: 2rem 7.5rem;
    gap: 20px;
}

.card1{
    background-color: rgb(254, 253, 255);
}

.card2{
    background-color: rgb(254, 253, 255);
}

.card3{
    background-color: rgb(254, 253, 255);
}

.card4{
    background-color: rgb(254, 253, 255);
}

.card5{
    background-color: rgb(254, 253, 255);
}

.card6{
    background-color: rgb(254, 253, 255);
} 

.heading-title{
    font-size: 1.3rem;
    border-left: 3px solid #2c6e49;
    padding: 10px;
    width: auto;
    background-color: lavender;
    color: blue;
}

.description-text{
    width: auto;
    height: auto;
    padding:20px 10px;
}

.description-text h1{
    font-size: 25px;
    text-transform: capitalize;
}

.description-text span{
    font-weight: 900;
}

.description-text span, h1{
    color: gray;
}

.long-button{
    height: auto;
    background-color: rgb(254, 253, 255);
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    color: rgb(134, 134, 134);
    padding: 0.9rem;
    border: 0.5px solid rgb(226, 225, 225);
    border-radius: 2px;
    margin-top: 50px;
}















































































@media screen and (max-width: 999px) {
    .navigation{
        width: 95%;
        border-radius:0;
        margin-top: 0;
        border: none;
    }

    .box2{ 
        display: none;
    }
    .box1{
        width: 100%;
    }

    .container{
        padding: 1rem 10px;
    }

    .card-container{
        /* background-color: red; */
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }
}

@media screen and (max-width: 692px){
    .navlists{
        display: none;
    }
}
@media screen and (max-width: 371px){
    .navigation{
        flex-direction: column;
        justify-content:flex-start;
        align-items: start;
        margin-bottom: 50px;
    }

    .navigation .btn{
        margin-top: 10px;
    }
}















/* @media screen and (max-width:722px) {
    .navlists {
        display: none;
    }

    .container {
        padding: 25px;
    }

    .box2 {
        display: none;
    }

    .box1 {
        width: 100%;
    }
} */